Leverage Go's standard library to flesh out the arr.ai standard library.

# In scope

* [ ] **bytes:**            implements functions for the manipulation of byte slices.
* [ ] **compress/bzip2:**   implements bzip2 decompression.
* [ ] **compress/gzip:**    implements reading and writing of gzip format compressed files, as specified in RFC 1952.
* [ ] **encoding/base64:**  implements base64 encoding as specified by RFC 4648.
* [ ] **encoding/csv:**     reads and writes comma-separated values (CSV) files.
* [ ] **encoding/json:**    implements encoding and decoding of JSON as defined in RFC 7159.
* [ ] **encoding/xml:**     implements a simple XML 1.0 parser that understands XML name spaces.
* [ ] **flag:**             implements command-line flag parsing.
* [ ] **path:**             implements utility routines for manipulating slash-separated paths.
* [ ] **regexp:**           implements regular expression search.
* [ ] **strconv:**          implements conversions to and from string representations of basic data types.
* [ ] **strings:**          implements simple functions to manipulate UTF-8 encoded strings.
* [ ] **tar:**              implements access to tar archives.
* [ ] **time:**             provides functionality for measuring and displaying time.
* [ ] **zip:**              provides support for reading and writing ZIP archives.

# Investigate

* [ ] **builtin:**              provides documentation for Go's predeclared identifiers.
* [ ] **compress/flate:**       implements the DEFLATE compressed data format, described in RFC 1951.
* [ ] **compress/lzw:**         implements the Lempel-Ziv-Welch compressed data format, described in T. A. Welch, “A Technique for High-Performance Data Compression”, Computer, 17(6) (June 1984), pp 8-19.
* [ ] **compress/zlib:**        implements reading and writing of zlib format compressed data, as specified in RFC 1950.
* [ ] **crypto:**               collects common cryptographic constants.
* [ ] **crypto/aes:**           implements AES encryption (formerly Rijndael), as defined in U.S. Federal Information Processing Standards Publication 197.
* [ ] **crypto/cipher:**        implements standard block cipher modes that can be wrapped around low-level block cipher implementations.
* [ ] **crypto/des:**           implements the Data Encryption Standard (DES) and the Triple Data Encryption Algorithm (TDEA) as defined in U.S. Federal Information Processing Standards Publication 46-3.
* [ ] **crypto/dsa:**           implements the Digital Signature Algorithm, as defined in FIPS 186-3.
* [ ] **crypto/ecdsa:**         implements the Elliptic Curve Digital Signature Algorithm, as defined in FIPS 186-3.
* [ ] **crypto/ed25519:**       implements the Ed25519 signature algorithm.
* [ ] **crypto/elliptic:**      implements several standard elliptic curves over prime fields.
* [ ] **crypto/hmac:**          implements the Keyed-Hash Message Authentication Code (HMAC) as defined in U.S. Federal Information Processing Standards Publication 198.
* [ ] **crypto/md5:**           implements the MD5 hash algorithm as defined in RFC 1321.
* [ ] **crypto/rand:**          implements a cryptographically secure random number generator.
* [ ] **crypto/rc4:**           implements RC4 encryption, as defined in Bruce Schneier's Applied Cryptography.
* [ ] **crypto/rsa:**           implements RSA encryption as specified in PKCS#1.
* [ ] **crypto/sha1:**          implements the SHA-1 hash algorithm as defined in RFC 3174.
* [ ] **crypto/sha256:**        implements the SHA224 and SHA256 hash algorithms as defined in FIPS 180-4.
* [ ] **crypto/sha512:**        implements the SHA-384, SHA-512, SHA-512/224, and SHA-512/256 hash algorithms as defined in FIPS 180-4.
* [ ] **crypto/subtle:**        implements functions that are often useful in cryptographic code but require careful thought to use correctly.
* [ ] **crypto/tls:**           partially implements TLS 1.2, as specified in RFC 5246, and TLS 1.3, as specified in RFC 8446.
* [ ] **crypto/x509:**          parses X.509-encoded keys and certificates.
* [ ] **crypto/x509/pkix:**     contains shared, low level structures used for ASN.1 parsing and serialization of X.509 certificates, CRL and OCSP.
* [ ] **database/sql:**         provides a generic interface around SQL (or SQL-like) databases.
* [ ] **database/sql/driver:**  defines interfaces to be implemented by database drivers as used by package sql.
* [ ] **encoding/hex:**         implements hexadecimal encoding and decoding.
* [ ] **encoding/pem:**         implements the PEM data encoding, which originated in Privacy Enhanced Mail.
* [ ] **fmt:**                  implements formatted I/O with functions analogous to C's printf and scanf.
* [ ] **html:**                 provides functions for escaping and unescaping HTML text.
* [ ] **image:**                implements a basic 2-D image library.
* [ ] **image/color:**          implements a basic color library.
* [ ] **image/color/palette:**  provides standard color palettes.
* [ ] **image/draw:**           provides image composition functions.
* [ ] **image/gif:**            implements a GIF image decoder and encoder.
* [ ] **image/jpeg:**           implements a JPEG image decoder and encoder.
* [ ] **image/png:**            implements a PNG image decoder and encoder.
* [ ] **index/suffixarray:**    implements substring search in logarithmic time using an in-memory suffix array.
* [ ] **io:**                   provides basic interfaces to I/O primitives.
* [ ] **io/ioutil:**            implements some I/O utility functions.
* [ ] **log:**                  implements a simple logging package.
* [ ] **math:**                 provides basic constants and mathematical functions.
* [ ] **math/big:**             implements arbitrary-precision arithmetic (big numbers).
* [ ] **math/cmplx:**           provides basic constants and mathematical functions for complex numbers.
* [ ] **math/rand:**            implements pseudo-random number generators.
* [ ] **mime:**                 implements parts of the MIME spec.
* [ ] **mime/multipart:**       implements MIME multipart parsing, as defined in RFC 2046.
* [ ] **mime/quotedprintable:** implements quoted-printable encoding as specified by RFC 2045.
* [ ] **net/http:**             provides HTTP client and server implementations.<br/>(CLIENT SIDE ONLY)
* [ ] **net/url:**              parses URLs and implements query escaping.
* [ ] **os:**                   provides a platform-independent interface to operating system functionality.
* [ ] **path/filepath:**        implements utility routines for manipulating filename paths in a way compatible with the target operating system-defined file paths.
* [ ] **testing:**              provides support for automated testing of Go packages.
* [ ] **text/tabwriter:**       implements a write filter (tabwriter.Writer) that translates tabbed columns in input into properly aligned text.
* [ ] **unicode:**              provides data and functions to test some properties of Unicode code points.
* [ ] **unicode/utf16:**        implements encoding and decoding of UTF-16 sequences.
* [ ] **unicode/utf8:**         implements functions and constants to support text encoded in UTF-8.

# Out of scope

* **bufio:**                implements buffered I/O. It wraps an io.Reader or io.Writer object, creating another object (Reader or Writer) that also implements the interface but provides buffering and some help for textual I/O.
* **container/heap:**       provides heap operations for any type that implements heap.Interface.
* **container/list:**       implements a doubly linked list.
* **container/ring:**       implements operations on circular lists.
* **context:**              defines the Context type, which carries deadlines, cancellation signals, and other request-scoped values across API boundaries and between processes.
* **debug/dwarf:**          provides access to DWARF debugging information loaded from executable files, as defined in the DWARF 2.0 Standard at http://dwarfstd.org/doc/dwarf-2.0.0.pdf
* **debug/elf:**            implements access to ELF object files.
* **debug/gosym:**          implements access to the Go symbol and line number tables embedded in Go binaries generated by the gc compilers.
* **debug/macho:**          implements access to Mach-O object files.
* **debug/pe:**             implements access to PE (Microsoft Windows Portable Executable) files.
* **debug/plan9obj:**       implements access to Plan 9 a.out object files.
* **encoding:**             defines interfaces shared by other packages that convert data to and from byte-level and textual representations.
* **encoding/ascii85:**     implements the ascii85 data encoding as used in the btoa tool and Adobe's PostScript and PDF document formats.
* **encoding/asn1:**        implements parsing of DER-encoded ASN.1 data structures, as defined in ITU-T Rec X.690.
* **encoding/base32:**      implements base32 encoding as specified by RFC 4648.
* **encoding/binary:**      implements simple translation between numbers and byte sequences and encoding and decoding of varints.
* **encoding/gob:**         manages streams of gobs - binary values exchanged between an Encoder (transmitter) and a Decoder (receiver).
* **errors:**               implements functions to manipulate errors.
* **expvar:**               provides a standardized interface to public variables, such as operation counters in servers.
* **go/ast:**               declares the types used to represent syntax trees for Go packages.
* **go/build:**             gathers information about Go packages.
* **go/constant:**          implements Values representing untyped Go constants and their corresponding operations.
* **go/doc:**               extracts source code documentation from a Go AST.
* **go/format:**            implements standard formatting of Go source.
* **go/importer:**          provides access to export data importers.
* **go/parser:**            implements a parser for Go source files.
* **go/printer:**           implements printing of AST nodes.
* **go/scanner:**           implements a scanner for Go source text.
* **go/token:**             defines constants representing the lexical tokens of the Go programming language and basic operations on tokens (printing, predicates).
* **go/types:**             declares the data types and implements the algorithms for type-checking of Go packages.
* **hash/adler32:**         implements the Adler-32 checksum.
* **hash/crc32:**           implements the 32-bit cyclic redundancy check, or CRC-32, checksum.
* **hash/crc64:**           implements the 64-bit cyclic redundancy check, or CRC-64, checksum.
* **hash/fnv:**             implements FNV-1 and FNV-1a, non-cryptographic hash functions created by Glenn Fowler, Landon Curt Noll, and Phong Vo.
* **hash/maphash:**         provides hash functions on byte sequences.
* **html/template:**        html/template) implements data-driven templates for generating HTML output safe against code injection.
* **log/syslog:**           provides a simple interface to the system log service.
* **math/bits:**            implements bit counting and manipulation functions for the predeclared unsigned integer types.
* **net:**                  provides a portable interface for network I/O, including TCP/IP, UDP, domain name resolution, and Unix domain sockets.
* **net/http/cgi:**         implements CGI (Common Gateway Interface) as specified in RFC 3875.
* **net/http/cookiejar:**   implements an in-memory RFC 6265-compliant http.CookieJar.
* **net/http/fcgi:**        implements the FastCGI protocol.
* **net/http/httptest:**    provides utilities for HTTP testing.
* **net/http/httptrace:**   provides mechanisms to trace the events within HTTP client requests.
* **net/http/httputil:**    provides HTTP utility functions, complementing the more common ones in the net/http package.
* **net/http/pprof:**       serves via its HTTP server runtime profiling data in the format expected by the pprof visualization tool.
* **net/mail:**             implements parsing of mail messages.
* **net/rpc:**              provides access to the exported methods of an object across a network or other I/O connection.
* **net/rpc/jsonrpc:**      implements a JSON-RPC 1.0 ClientCodec and ServerCodec for the rpc package.
* **net/smtp:**             implements the Simple Mail Transfer Protocol as defined in RFC 5321.
* **net/textproto:**        implements generic support for text-based request/response protocols in the style of HTTP, NNTP, and SMTP.
* **os/exec:**              runs external commands.
* **os/signal:**            implements access to incoming signals.
* **os/user:**              allows user account lookups by name or id.
* **plugin:**               implements loading and symbol resolution of Go plugins.
* **reflect:**              implements run-time reflection, allowing a program to manipulate objects with arbitrary types.
* **regexp/syntax:**        parses regular expressions into parse trees and compiles parse trees into programs.
* **runtime:**              contains operations that interact with Go's runtime system, such as functions to control goroutines.
* **runtime/cgo:**          contains runtime support for code generated by the cgo tool.
* **runtime/debug:**        contains facilities for programs to debug themselves while they are running.
* **runtime/pprof:**        writes runtime profiling data in the format expected by the pprof visualization tool.
* **runtime/race:**         implements data race detection logic.
* **runtime/trace:**        contains facilities for programs to generate traces for the Go execution tracer.
* **sort:**                 provides primitives for sorting slices and user-defined collections.
* **sync:**                 provides basic synchronization primitives such as mutual exclusion locks.
* **sync/atomic:**          provides low-level atomic memory primitives useful for implementing synchronization algorithms.
* **syscall:**              contains an interface to the low-level operating system primitives.
* **syscall/js:**           gives access to the WebAssembly host environment when using the js/wasm architecture.
* **testing/iotest:**       implements Readers and Writers useful mainly for testing.
* **testing/quick:**        implements utility functions to help with black box testing.
* **text/scanner:**         provides a scanner and tokenizer for UTF-8-encoded text.
* **text/template:**        implements data-driven templates for generating textual output.
* **text/template/parse:**  builds parse trees for templates as defined by text/template and html/template.
* **unsafe:**               contains operations that step around the type safety of Go programs.
